@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Raleway", sans-serif;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/sign-up.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
body .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.frist-form {
  width: 100%;
}

.frist-form .container {
  width: 30%;
  padding: 25px;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  z-index: 1;
}
.frist-form .container h1 {
  color: #ffffff;
  font-weight: 700;
}
.frist-form .container .form-group {
  padding: 0;
}
.frist-form .container .form-group label {
  font-weight: 700;
  color: black;
}
.frist-form .container .form-group .img {
  font-weight: 700;
  color: black;
  font-size: 16px;
}

.frist-form .container form button {
  width: 100%;
  outline: unset;
  border: none;
  background: transparent;
  padding: 8px 0;
  border: 2px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  display: inline-block;
  margin: auto;
  transition: 0.4s ease-in-out !important;
}
.frist-form .container form button:hover {
  background-color: #007bff;
  color: white;
}

@media (max-width: 500px) {
  .frist-form .container {
    width: 100%;
  }
}
